*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    height: 95vh;
    background: black;
    font-family: sans-serif;
    text-align: center;
    color: lime;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background: black;
    justify-content: space-between
    background: transparent;
    text-decoration: none;
}

.logo{
    display: flex;
    align-item: center;
    text-decoration: none;
}

.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
    text-decoration: none;
}

.logo span{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.main{
    display: flex;
    align-items: center;
    margin-left: 990px;
}

.main a{
    margin-right: 15px;
    margin-left: 5px;
    color: var(--text-color):
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    text-decoration: none;
}


main{
    background: white;
    display: flex;
    flex: 1;
    padding: 50px 50px 0 50px;
    border-left: 100px;
}

.col-2{
    margin-left: 65px;
    background-color: antiquewhite;
    padding: 20px;
    border: solid 1px black;
    border-radius: 20px;
}

.left{
    background: blue;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main{
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}

.right{
    background: white;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

footer{
    background: white;
    bottom: 0;
    position: fixed;
    width: 98.5%;
    text-align: center;
    color: lime;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53
}





